In [11]:
import pandas as pd 
from sklearn.neighbors import KNeighborsRegressor
from sklearn.preprocessing import LabelEncoder
import numpy as np
from sklearn.preprocessing import StandardScaler
import seaborn as sns

from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split

In [43]:
train= pd.read_csv('train.csv')
train1= pd.read_csv('train.csv')

test=pd.read_csv('test.csv')
test1=pd.read_csv('test.csv')
holiday=pd.read_csv('holidays.csv')
stores=pd.read_csv('stores.csv')

In [13]:
print(train.columns)
print(test.columns)

Index(['date', 'store_id', 'category_id', 'target', 'onpromotion',
       'nbr_of_transactions'],
      dtype='object')
Index(['date', 'store_id', 'category_id', 'onpromotion'], dtype='object')

In [14]:
train['date']=np.log(train['date'])
test['date']=np.log(test['date'])

In [15]:
X_train = train.drop('target',axis=1,inplace=False)
y_train=train[['target']]

In [16]:
changer = LabelEncoder()
X_train['store_id']=changer.fit_transform(X_train['store_id'])
X_train['category_id']=changer.fit_transform(X_train['store_id'])
test['store_id']=changer.fit_transform(test['store_id'])
test['category_id']=changer.fit_transform(test['store_id'])

In [17]:
X_train.drop('nbr_of_transactions',axis=1,inplace=True)
X_train.head()

       date  store_id  category_id  onpromotion
0  5.899897         0            0            0
1  5.899897         0            0            0
2  5.899897         0            0            0
3  5.899897         0            0            0
4  5.899897         0            0            0

In [18]:



scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
test=scaler.transform(test)

In [19]:
X_train.shape

(2248884, 4)

In [20]:
rf=RandomForestRegressor()
params_rf = {
             'n_estimators': [100],
             'max_features': ['log2', 'auto', 'sqrt'],
             'min_samples_leaf': [2, 10, 30], 
             }
grid_rf = GridSearchCV(estimator=rf,
                       param_grid=params_rf,
                       scoring='neg_mean_squared_error',
                       cv=2,
                       verbose=1,
                       n_jobs=-1)
grid_rf.fit(X_train,y_train)
best_model = grid_rf.best_estimator_

y_pred = best_model.predict(test)

Fitting 2 folds for each of 9 candidates, totalling 18 fits

C:\Users\samim\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\sklearn\model_selection\_search.py:926: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

In [21]:

#knn= KNeighborsRegressor(20)
#knn.fit(X_train,y_train)
#y_pred=knn.predict(test)

In [22]:
X_train.std()

0.9999999999999992

In [23]:
train

,date,store_id,category_id,target,onpromotion,nbr_of_transactions
0,5.899897,store_1,category_24,0.000,0,0.0
1,5.899897,store_1,category_21,0.000,0,0.0
2,5.899897,store_1,category_32,0.000,0,0.0
3,5.899897,store_1,category_18,0.000,0,0.0
4,5.899897,store_1,category_26,0.000,0,0.0
...,...,...,...,...,...,...
2248879,7.393878,store_9,category_23,539.725,0,2141.0
2248880,7.393878,store_9,category_20,84.177,0,2141.0
2248881,7.393878,store_9,category_15,1973.760,3,2141.0
2248882,7.393878,store_9,category_29,2.000,0,2141.0
2248883,7.393878,store_9,category_10,27.076,0,2141.0

In [24]:
#y_pred=knn.predict(test)

In [25]:
import math 
y_pred=np.round(y_pred)
target=np.log(y_pred+1)

In [46]:

date=np.array(train1['date'].astype('str'))
m=date[106922:206714]
(m)

array(['425', '425', '425', ..., '480', '481', '481'], dtype=object)

In [47]:

k=test1.store_id+'_'+test1.category_id
date=pd.read_csv('dates.csv')

In [48]:
l='year_week'+'_'+m+'_'

In [49]:
len(k)

99792

In [50]:

id=l+k
id.to_string()
df=pd.DataFrame(id)
df['target']=target

In [51]:
print(df[df[0]=='year_week_427_store_1_category_1'])

                                     0    target
3578  year_week_427_store_1_category_1  3.637586

In [52]:
df.to_csv("data_test1.csv",index=False)